h1 {
  color: ##ffb3cd;
  text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;;
    color: white;
    text-align: center;
}

btn-back-to-top {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
}

navbar-brand {
  color: #ffb3cd;
}