h1 {
  color: #ffb3cd;
  text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EEA1CD;;
    color: white;
    text-align: center;
}

