<style>
body {
  background-color: #111;
}

h1 {
  color: pink;
  margin-left: 20px;
}
  body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: orange;
}

.active {
  background-color: blue;
}>
  <li><a class="active" href="https://tjjcksn3.github.io/">Home</a></li>
  <li><a href="#work">Work</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="https://tjjcksn3.github.io/aboutme.html">About</a></li>
</ul>
</style>
