body {
  position: relative; 
}

h1 {
  color: #ffb3cd;
  text-align: 
}

h2 {
  color: #E68BBE;
  font-family: 'Montserrat', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EEA1CD;
    color: white;
    text-align: center;
}

button { background-color: #FF9A9A;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; }