body {
  position: relative; 
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #ffb3cd;
}

h2 {
  color: #E68BBE;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #FFD7AD;
  font-family: 'Montserrat', sans-serif;
}

footer {
    position: absolute;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #EEA1CD;
    color: white;
    text-align: center;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

p { 
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

#para2
{
  text-align: right;
  font-weight: 400;
}

#project
{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#page-top
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #ffb3cd;
  position: fixed;
}

  .btn-outline {
    color: #ffb3cd;
    background-color: #ffffff;
    border-color: #ffb3cd;
    font-weight: bold;
    letter-spacing: 0.05em;
  }






  .btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #ffb3cd;
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #ffb3cd;
    color: #ffffff;
    border-color: #ffb3cd;
    
  }
  
