body {
  position: relative; 
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #ffb3cd;
}

h2 {
  color: #E68BBE;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h3 {
  color: #FFD7AD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
}

footer {
    position: absolute;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #EEA1CD;
    color: white;
    text-align: center;
  }

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

p { 
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  border-radius: 8px;
}


#para2
{
  text-align: center;

}

#page-top
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}






  
