body {
  position: relative; 
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #ffb3cd;
  text-align: 
}

h2 {
  color: #E68BBE;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #E68BBE;
  font-family: 'Montserrat', sans-serif;
}

footer {
    position: absolute;
    display: table;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EEA1CD;
    color: white;
    text-align: center;
}
